apiVersion: v1
kind: Secret
metadata:
  name: ${component.git.secretName}
type: superhub.io/git
stringData:
  clone_url: "${component.git.remote}"
  username: "${component.git.username}"
  password: "${component.git.password}"
