apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: kubernetes.io/aws-ebs
  finalizers:
  - kubernetes.io/pvc-protection
  name: ${application.name}-workspace
  namespace: ${application.namespace}
spec:
  accessModes:
  - ${application.workspace.accessMode}
  resources:
    requests:
      storage: ${application.workspace.size}
  storageClassName: ${application.workspace.storageClass}
  volumeMode: Filesystem
